@import '../../components/GlobalStyles/GlobalStyles.scss';
.ProductList_container{
    margin-top: 80px;
    .Filters_container{
        display: flex;
        justify-content: space-between;
        padding: 1.5rem;
        margin: 2rem;
        justify-items: center;
        @include responsive(phone){
            flex-direction: column;
            gap: 2rem;
        }
    
        select{
            padding: 10px;
            margin-top: -4px;
            @include responsive(phone){
                padding-left: 15px;
            }
    
        }
        .filter_left{
            display: flex;
            gap: 1rem;
            font-size: 2rem;
            
        }
        .filter_right{
            display: flex;
            gap: 1rem;
            font-size: 2rem;
            @include responsive(tablet){
                gap: 2rem;
            }
        }
    }
}
