@import '../GlobalStyles/GlobalStyles.scss';

.slider_container{
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    @include responsive(phone){
        display: none;
    }
    @include responsive (tablet){
        display: none;
    }
    .arrow_left{
        width: 50px;
        height: 50px;
        display: flex;
        border-radius: 50%;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        top: 0;
        margin: auto;
        left: 10px;
        z-index: 1;
        cursor: pointer;
    }

    .arrow_right{
        width: 50px;
        height: 50px;
        display: flex;
        border-radius: 50%;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        top: 0;
        margin: auto;
        right: 10px;
        cursor: pointer;
    }
    .wrapper{
        height: 100%;
        display: flex;
        transition: all 1.5s ease;
        .slider_content{
            display: flex;
            align-items: center;
            width: 100vw;
            height: 100vh;
            .slider_image{
                flex: 1;
                height: 100%;
                img{
                    height: 80%;
                }
            }
            .slider_info{
                flex: 1;
                padding: 50px;
                .title{
                    font-size: 70px;
                }
                .desc{
                    margin: 50px 0px;
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 3px;
                }
                
                
                    
                    .cta {
                        border: none;
                        background: none;
                        cursor: pointer;
                        }
                        
                        .cta span {
                        padding-bottom: 7px;
                        letter-spacing: 4px;
                        font-size: 14px;
                        padding-right: 15px;
                        text-transform: uppercase;
                        }
                        
                        .cta svg {
                        transform: translateX(-8px);
                        transition: all 0.3s ease;
                        }
                        
                        .cta:hover svg {
                        transform: translateX(0);
                        }
                        
                        .cta:active svg {
                        transform: scale(0.9);
                        }
                        
                        .hover_underline_animation {
                        position: relative;
                        color: black;
                        padding-bottom: 20px;
                        }
                        
                        .hover_underline_animation:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: #000000;
                        transform-origin: bottom right;
                        transition: transform 0.25s ease-out;
                        }
                        
                        .cta:hover .hover_underline_animation:after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                
                
            }
        }
    }
}
