.Newsletter_container{
    display: flex;
    height: 500px;
    padding: 3rem;
    
    .Newsletter_content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
        justify-content: center;
        p{
            font-size: 3rem;
            font-weight: 500;
        }
        a{
            color: black;
            font-size: 2rem;
        }
    }
    img{
        flex: 2;
    }
}