.header_container{
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    .header_left{
        flex: 1;
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        .language{
            font-size: 2rem;
        }
        .Search{
            border: 1px solid #ccc;
            height: 3rem;
            align-items: center;
            display: flex;
            input{
                border: none;
                &:focus{
                    outline: none;
                }
            }
            svg{
                font-size: 2.5rem;
            }
        }
    }
    .header_center{
        flex: 1;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
    }
    .header_right{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        cursor: pointer;
        p{
            padding: 1rem;
            position: relative;
            &::after {
                content: "";
                width: 0;
                height: 1px;
                background: #000;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all 0.2s linear;
            } 
            &:hover::after {
                width: 100%;
            }
        }
        .login{
            padding: 1rem;
            text-decoration: none;
            color: black;
            position: relative;
            &::after {
                content: "";
                width: 0;
                height: 1px;
                background: #000;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all 0.2s linear;
            } 
            &:hover::after {
                width: 100%;
            }
        }
        svg{
            font-size: 2.5rem;
        }
    }
}