@import '../GlobalStyles/GlobalStyles.scss';

.header_container{
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    top: 0;
    right: 0;
    left: 0;
    @include responsive(phone){
        height: 100px;
    }
    .header_left{
        flex: 1;
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        margin-left: 3rem;
        @include responsive(tablet){
            order: 2;
        }
        @include responsive(phone){
            display: none;
        }
        .language{
            font-size: 2rem;
        }
        .Search{
            border: 1px solid #ccc;
            height: 3rem;
            align-items: center;
            display: flex;
            padding-left: 5px;
            input{
                border: none;
                &:focus{
                    outline: none;
                }
            }
            svg{
                font-size: 2.5rem;
                cursor: pointer;
                opacity: 0.6;
            }

        }
    }
    .header_center{
        flex: 1;
        padding-top: 1.5rem;
        @include responsive(phone){
            display: flex;
            flex-direction: row-reverse;

        }
        @include responsive(tablet){
            display: flex;
            flex-direction: row-reverse;
            padding-top: 0;

        }
        p{
            text-align: center;
            font-size: 3rem;
            font-weight: bold;
            margin-left: 3rem;

        }
        
    }
    .header_right{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        margin-right: 3rem;
        cursor: pointer;
        @include responsive(tablet){
            order: 3;
        }
        @include responsive(phone){
            gap: 1rem;
            margin-left: 5rem;
        }
        .dropdown{
            position: relative;
            display: flex;
            gap: 1.5rem;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                &:hover{
                    opacity: 0.8;
                }
            }
            .name{
                @include responsive(phone){
                    display: none;
                    
                }
                &:hover{
                    opacity: 0.8;
                }
                
            }
            .menu{
                list-style-type: none;
                border: 1px solid grey;
                box-shadow: 1px 3px 8px #000;
                background-color: white;
                width: 150px;
                position: absolute;
                right: 10px;
                top: 60px;
                z-index: 1;
                .menu_item{
                    margin: 10px 0;
                    padding: 0 10px;
                    font-weight: 500;
                    &:hover{
                        color: teal;
                        opacity: 1.6;
                    }
                }
            }
        }
        p{
            padding: 1rem;
            position: relative;

        }
        .login{
            padding: 1rem;
            color: black;
            text-decoration: none;
            position: relative;
            @include responsive(phone){
                width: max-content;
                padding-top: 1rem;
            }
            &::after {
                content: "";
                width: 0;
                height: 1px;
                background: #000;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all 0.2s linear;
            } 
            &:hover::after {
                width: 100%;
            }
        }
        svg{
            font-size: 2.7rem;
            margin-top: 2px;
            color: black;
        }
        .cart_dropdown{
            
            position: relative;
            
            .showCart{
                position: absolute;
                right: 1rem;
                top: 3rem;
                z-index: 100;
                background-color: #fff;
                box-shadow: 1px 3px 8px #000;

                .cart_menu{    
                    list-style: none;
                    justify-content: space-between;
                    width: 400px;
                    display: flex;
                    padding: 1rem;
                    @include responsive(phone){
                        width: 250px;
                    
                    }
                    &:hover{
                        background-color: #ccc;

                    }
                    .menu_item{
                        background-color: white;
                        margin: 10px ;
                        font-weight: 500;

                        .item_name{
                            flex: 3;
                        }
                        .item_price{
                            flex: 1;
                        }
                        &:hover{
                            color: teal;
                            opacity: 1.6;
                        }
                    }
                }
                .view_cart{
                    margin: 10px;
                    border: 1px solid teal;
                    padding: 10px 15px;
                    float: right;
                    cursor: pointer;
                }
                .cart_menu_empty{
                    width: 400px;
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    justify-items: center;
                    font-size: 1.6rem;
                }
            }
        }
    }
}