@import '../GlobalStyles/GlobalStyles.scss';

.header_container{
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;

    .header_left{
        flex: 1;
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        @include responsive(phone){
            display: none;
        }
        .language{
            font-size: 2rem;
        }
        .Search{
            border: 1px solid #ccc;
            height: 3rem;
            align-items: center;
            display: flex;
            input{
                border: none;
                &:focus{
                    outline: none;
                }
            }
            svg{
                font-size: 2.5rem;
            }
        }
    }
    .header_center{
        flex: 1;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        @include responsive(phone){
            margin-right: 2rem;
        }
    }
    .header_right{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        cursor: pointer;
        @include responsive(phone){
            gap: 1rem;
        }
        p{
            padding: 1rem;
            position: relative;
            &::after {
                content: "";
                width: 0;
                height: 1px;
                background: #000;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all 0.2s linear;
            } 
            &:hover::after {
                width: 100%;
            }
        }
        .login{
            padding: 1rem;
            color: black;
            text-decoration: none;
            position: relative;
            @include responsive(phone){
                width: max-content;
                padding-top: 1rem;
            }
            &::after {
                content: "";
                width: 0;
                height: 1px;
                background: #000;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all 0.2s linear;
            } 
            &:hover::after {
                width: 100%;
            }
        }
        svg{
            font-size: 2.7rem;
            margin-top: 2px;
            color: black;
        }
    }
}