@import '../../components/GlobalStyles/GlobalStyles.scss';
.wrapper{
    margin-top: 80px;
    
    .title{
        text-align: center;
        font-weight: 500;
        padding: 1.5rem;
        
    }
    .top{
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        margin: 1rem;
        @include responsive(phone){
            display: none;
        }
        .top_center{
            display: flex;
            cursor: pointer;
            justify-content: space-between;
            gap: 2rem;
            @include responsive(phone){
                display: none;
            }
            @include responsive(tablet){
                display: none;
            }
            p{
                text-decoration: underline;
            }
        }
        button{
            padding: 1rem;
            margin-top: -1rem;
            cursor: pointer;
        }
        .continue{
            background-color: #fff;
        }
        .checkout{
            color: white;
            background-color: black;
        }
    }
    .bot{
        display: flex;
        justify-content: space-between;
        @include responsive(phone){
            flex-direction: column;
            
        }
        @include responsive(tablet){
            flex-direction: column;
        }
        .bot_left{
            display: flex;
            flex-direction: column;
            flex: 2;
            @include responsive(phone){
                justify-content: center;
            }
            .product_info{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #cdcaca;
                @include responsive(phone){
                    flex-direction: column;
                }
                .info{
                    display: flex;
                    justify-content: flex-start;
                    flex: 2 ;
                    gap: 2rem;
                    @include responsive(phone){
                        flex-direction: column;
                        position: relative;
                    }
                    .detail_info{
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        justify-content: center;
                        p{
                            font-size: 1.8rem;
                        }
                        .name{
                            text-transform: uppercase;
                        }
                        @include responsive(tablet){
                           gap: 1rem;
                           padding: 1rem;
                        }
                        @include responsive(phone){
                           padding: 0 1.5rem;
                        }
                    }
                    img{
                        width: 200px;
                        height: 200px;
                        @include responsive(tablet){
                            width: 100%;
                            object-fit: contain;
                            padding-left: 1.5rem;
                        }
                        @include responsive(phone){
                            width: 100%;
                            object-fit: contain;
                        }
                    }

                }
                .prices{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    @include responsive(tablet){
                        align-items: center;
                        padding-right: 1rem;
                    }
                    @include responsive(phone){
                        gap: 1.5rem;
                        margin-top: -2rem;
                        align-items: end;
                        padding-right: 2rem;
                    }
                    .Quantity{
                        display: flex;
                        gap: 1.6rem;
                        margin-top: 1.6rem;
                        font-size: 2rem;
                        @include responsive(phone){
                            padding-top: 3rem;
                            margin-right: 2rem;
                            margin-top: 3rem;
                         }
                        .minus{
                            cursor: pointer;
                            width: 1.6rem;
                            font-size: 3rem;
                            margin-top: -5px;
                        }
                        .number{
                            border: 1px solid teal;
                            padding: 5px 14px;
                            border-radius: 10px;
                            margin-top: -5px;
                        }
                        .plus{
                            width: 1.6rem;
                            margin-top: -5px;
                            font-size: 3rem;
                            cursor: pointer;
                        }
                    }
                    .price{
                        font-size: 3rem;
                        margin-left: 1rem;

                    }

                }
                .remove{
                    font-size: 3rem;
                    padding: 10px;
                    cursor: pointer;
                    @include responsive(phone){
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }
        .summary_order{
            flex: 1;
            height: 55vh;
            padding: 2rem;
            .form_order{
                height: 100%;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .form_title{
                    text-align: center;

                }
                .form_group{
                    display: flex;
                    justify-content: space-between;
                    .total{
                        font-size: 3rem;
                        font-weight: 500;
                    }
                    
                }
                .submit{
                    padding: 10px;
                    width: 40%;
                    border: 1px solid teal;
                    margin-left: auto;
                    cursor: pointer;

                }
            }
        }
    }
}