@import "../../components/GlobalStyles/GlobalStyles.scss";

.checkout_contents {
  height: 100vh;
  margin-top: 100px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20rem;
  gap: 2rem;
  @include responsive(tablet){
      height: auto;
      margin-bottom: 0;
  }
  .popup_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .popup_content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    p {
      font-size: 2rem;
      font-weight: bold;
    }
    .form {
      min-width: 400px;
      @include responsive(phone) {
        min-width: 300px;
      }
      .formGroup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;

        label {
          font-size: 1.7rem;
          color: #8094b7;
          flex: 1;
        }

        input:not([type="file"]) {
          flex: 3;
          height: 40px;
          font-size: 15px;
          border-radius: 5px;
          padding-left: 1rem;
          border: 0.5px solid rgba(128, 148, 183, 0.7);

          &:focus {
            outline: rgb(37, 88, 175);
          }
        }
      }
    }
    .button {
      display: flex;
      justify-content: flex-end;
      gap: 2rem;
      margin-top: 3rem;
      .button_cancel {
        background-color: white;
        padding: 10px 15px;
        cursor: pointer;
        border: 1px solid #ccc;
      }
      .button_confirm {
        background-color: teal;
        padding: 10px 15px;
        cursor: pointer;
        border: 1px solid #ccc;
      }
    }
  }

  .delivery_address {
    border-bottom: 1px solid teal;
    padding: 2rem;
    @include responsive(phone) {
      font-size: 1.4rem;
    }
    strong {
      font-size: 2rem;

      svg {
        font-size: 2rem;
      }
    }

    .address {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;

      .change {
        color: blue;
        cursor: pointer;
      }
    }
  }

  .products_ordered {
    border-bottom: 1px solid teal;
    .feature {
      display: flex;
      justify-content: space-between;


      strong {
        font-size: 2rem;

      }

      .sub_quantity {
        display: flex;
        justify-content: space-between;
        min-width: 420px;

        @include responsive(tablet) {
          min-width: 200px;
        }
        @include responsive(phone) {
          min-width: 100px;
          font-size: 1.4rem;
        }
        .unit {
          @include responsive(tablet) {
            display: none;
            justify-content: center;
          }
          @include responsive(phone) {
            display: none;
            justify-content: center;
          }
        }
        .amount{
          @include responsive(phone) {
           display: none; 
          }
        }
        p {
          min-width: 80px;
        }
      }
    }

    .items {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      padding-top: 2rem;
      padding-bottom: 1rem;
      @include responsive(tablet) {
        justify-content: center;
        font-size: 1rem;
      }
      @include responsive(phone) {
        justify-content: center;
        gap: 1rem;
      }
      .product_info {
        display: flex;
        align-items: center;
        gap: 2rem;
        @include responsive(tablet) {
          gap: 0;
          margin-right: 1rem;
        }
        @include responsive(phone) {
          gap: 1rem;
        }
        img {
          width: 60px;
          height: 60px;
        }

        .title {
          min-width: 250px;
        }

        .varian {
          opacity: 0.7;
          margin-left: 1rem;
          @include responsive(phone) {
            margin-left: -130px;
          }
        }
      }

      .sub_quantity {
        display: flex;
        justify-content: space-between;
        min-width: 400px;
        @include responsive(tablet) {
          justify-content: center;
          min-width: 0;
          margin-top: 1rem;
        }
        @include responsive(phone) {
          margin-top: 1rem;

        }
        .price {
          @include responsive(tablet) {
            display: none;
          }
          @include responsive(phone) {
            display: none;
          }
        }
        p {
          min-width: 80px;
          @include responsive(phone) {
            min-width: 20px;
            margin-top: 1rem;
            
          }
        }
      }
    }
  }

  .payment_method {
    border-bottom: 0.5px solid rgb(113, 131, 131);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    @include responsive(tablet) {
     gap: 1rem;
     font-size: 1.4rem;

    }
    @include responsive(phone) {
     flex-direction: column;

    }
    .select_method {
      display: flex;
      flex-direction: column;
      @include responsive(tablet) {
        min-width: 200px;
      }
      strong {
        font-size: 2rem;
        margin-bottom: 3rem;
      }

      .Payments {
        .methods {
          display: flex;
          gap: 2rem;
          border: 1px solid #ccc;
          padding: 10px 10px;
          margin-top: 2rem;
          justify-content: space-between;
          align-items: center;

          svg {
            font-size: 2rem;
            color: red;
          }
          @include responsive(tablet){
            padding: 5px 10px;
            min-height: 50px;
          }
          @include responsive(phone){
            padding: 5px 10px;
            margin-top: 2rem;
            
          }
        }
      }
    }

    .shipping_options {
      display: flex;
      flex-direction: column;

      strong {
        font-size: 2rem;
        margin-bottom: 3rem;
      }

      .Shipping {
        .methods {
          display: flex;
          gap: 2rem;
          justify-content: space-between;
          border: 1px solid #ccc;
          padding: 10px 20px;
          margin-top: 2rem;
          @include responsive(tablet){
            padding: 5px 10px;
          }
          @include responsive(tablet){
            padding: 5px 10px;
            min-height: 50px;
            align-items: center;
          }
        }
      }
    }

    .summary_order {
      padding: 2rem;
      @include responsive(tablet){
        padding: 0;
        padding-top: 2rem;
        margin-top: auto;
        min-width: 260px;
      }
      .form_order {
        border-radius: 5px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1.5rem;
        @include responsive(tablet){
          gap: 1rem;
        }
        .form_group {
          display: flex;
          justify-content: space-between;
          gap: 2rem;
          @include responsive(tablet){
            gap: 0;
          }
        }
      }
    }
  }

  .Checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    p {
      opacity: 0.6;
    }

    .submit {
      padding: 10px 30px;
      margin-right: 5rem;
      border: 1px solid teal;
      cursor: pointer;
      opacity: 0.7;
      @include responsive(tablet){
        width: 200px;
        margin-right: 0;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
